
  @font-face {
    font-family: 'MicroExtendFLF';
    src: url('fonts/MicroExtendFLF.ttf') format('truetype');
  }

  .navbar-nav .nav-link:hover {
    color: yellow !important; /* Change color to yellow on hover */
  }
  

  body {
    font-family: 'MicroExtendFLF', sans-serif;
    /* background-image: url('images/pexels-bich-tran-669996.jpg'); */
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  header {
    background-color: black;
    height: 100vh; 
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  /* .bg-img{
    background-color: red;
    display: block;
  }

  .bg-img2{
    background-color: blue;
  } */

  header .bg-dark {
    word-wrap: break-word; /* Allow long words to break onto the next line */
  }
    
  #projects .card {
    transition: transform 0.3s ease;
  }
  
  #projects .card:hover {
    transform: translateY(-10px);
  }
  
  #contact form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
  }
  
  #contact form input,
  #contact form textarea {
    margin-bottom: 10px;
  }
  
  @keyframes typing {
    from { width: 0; }
  }
  
  h2, h1, p {
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s steps(28, end), blink-caret .75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }

  #name {
    color: yellow;
  }


  .custom-font h2 {
    font-size: 35px;
  }

  .custom-font h1 {
    font-size: 50px;
  }

  .custom-font p {
    font-size: 30px;
  }
  
  .logo-font{
    font-size: 25px;
  }

  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #moreAboutMe {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    color: white; 
    background-color: transparent; 
    border: 1px solid white; 
  }
  
  #moreAboutMe:hover {
    background-color: transparent; 
    color: yellow; 
    border-color: yellow; 
  }
  #description {
    white-space: pre-wrap; 
    font-size: 20px;
  }
    
  .custom-row {
    height: 396.391px; /* Set the height to the desired value */
  }

  .bg-circle {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust the size of the circle */
    height: 400px; /* Adjust the size of the circle */
    background-color: rgba(255, 255, 255, 0.1); /* Adjust background color and opacity */
    border-radius: 50%; /* Makes it a circle */
    z-index: -1; /* Move it behind other elements */
  }
  
  .bg-img {
    position: relative; /* Ensure the image is positioned relative to the parent */
  }